body {
    width: 100%;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    background-color: rgb(60, 64, 198);
}

nav {
    background-color: rgb(60, 64, 198) !important;
}

nav a {
    color: rgb(255, 255, 255) !important;
}

nav a:hover {
    border-bottom: 2px solid rgb(255, 255, 255) !important;
}

.container-fluid>a {
    font-size: 30px !important;
    font-weight: bolder;
}

#right-sight>a {
    font-size: 18px !important;
    font-weight: bold !important;
}

#right-sight span {
    background-color: red;
    padding: 2px 5px;
    border-radius: 10px;
}

/* navbar section complete */

/* *********************** */

/* second section started */

.second-section {
    width: 98%;
    height: 100vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}

.card-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card-list a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.card-list a:hover{
    text-decoration: underline;
    color: rgb(0, 26, 255);
}



/* @media Quarry section */

@media only screen and (max-width: 752px) {
    #right-sight {
        display: none !important;
    }
}


@media only screen and (max-width: 576px) {
    .second-section{
        width: 120vw;
        height: 250vh;
    }

    #FLATE-UI-COLOUR{
        font-size: 25px !important;
    }
   
    .card-list{
        width: 100%;
        flex-direction: column;
        
    }

    .card{
        width: 95% !important;
        
    }
}

@media only screen and (max-width: 320px) {
    #FLATE-UI-COLOUR{
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 215px) {
    .second-section{
        width: 150vw;
        height: 250vh;
    }

    #FLATE-UI-COLOUR{
        font-size: 13px !important;
    }

    .card-list{
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
    }

    .card{
        width: 95% !important;
        
    }
}